@media screen and (min-width: 480px) {
  .modal-content, .modal-dialog {
    width: 500px;
  }
  #video-container {
    margin-top: 25px;
  }
}

@media screen and (max-width: 480px) {
  .modal-content, .modal-dialog {
    width: 97%;
    margin: 10px auto;
  }
}


