/* ALL */

section#testimonials {
  background: #60728D;
  color: white;
}
section#testimonials h2 {
  color: white;
}
span.rotate {
  font-style: italic;
}

.service-button {
  display:block;
  margin:0 auto 24px auto;
  font-size:28px;
  width:355px
}
.service-button img  {
  height: 40px;
  margin:5px 0;
}
.service-button span {
  vertical-align:middle;  
}





/* DESKTOP ONLY */

@media screen and (min-width: 480px) {
  .modal-content, .modal-dialog {
    width: 500px;
  }
  #video-container {
    margin-top: 25px;
  }
  form#inline_optin{
    margin-bottom: 90px;
  }
  div.owl-item li.item {
    padding-bottom: 70px;
  }
  img#desktop-logo{
    max-width: 450px;    
  }
/*  @media screen and (min-width: 1200px){    
    .container.nav-container {
      width: 1210px;
    }
  }*/
}


/* MOBILE ONLY */

@media screen and (max-width: 480px) {
  .modal-content, .modal-dialog {
    width: 97%;
    margin: 10px auto;
  }
  #intro {
    padding-top: 25px;
  }
  section {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  form#inline_optin{
    margin-bottom: 25px;
  }
  ul.testimonials {
    margin-bottom: 20px;
  }
  .intro-text {
    margin-bottom: 15px;
  }
  #intro_optin {
    margin-top: 15px;
  }
  span.rotate {
    font-size:28px;
  }
  div.owl-item li.item {
    padding-bottom: 70px;
  }
  /* PREVENT SIDEWAYS SCROLL*/
  html {
    overflow-x: hidden;
  }
  body {
    position: relative
  }
}


/* MAP */

#google-map{
    position:relative;
    height: 250px;
}

#google-map {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
}