<h3>Hey stranger!</h3>

<p>Thanks for your interest in Full Tilt Development!</p>

<p>As promised, I've sent you my Playbook to Mastering Your Digital Presence. I know you'll appreciate what's included.</p>

<p>Since you've come this far, I'd love to know what <em>you</em> think I can do to help further your busiess goals.</p>

<p>It's obviously too soon to know if I'm the right fit for your job, but that's why I'm willing to help you out with a 30 minute consultation so I can build you a custom web dev/digital marketing roadmap. Only there's one catch, this one isn't quite free. If you think my roadmap is helpful, then all I ask is that you leave me a nice little LinkedIn recommendation.</p>

<p>Who knows, maybe the roadmap is all you need to get going! Wouldn't that be awesome! But your recommendation will help validate the suspcioun other's might have that I am good candidate for to fill their needs.</p>

<p>If you're up for it, reply to this email, letting me know what you thought of the Playbook and we can go from there :)</p>

<p>Cheers,</p>
<p>Jesse Novotny<br><em>I am Full Tilt Development</em></p>
<%= image_tag("https://s3-us-west-2.amazonaws.com/full-tilt/logo/purple+logo+with+sub+header.png", width: "200px") %>