<h3>Hey there <%= @lead.first_name %>,</h3>

<p>Thanks for reaching out to me! I apprecaite your interest in Full Tilt Development.</p>

<p>This is just a notification that your message was received and that you should be hearing from me soon.</p>

<p>Cheers,</p>
<p>Jesse Novotny</p>
<p>I am Full Tilt Development</p>
<%= image_tag("https://s3-us-west-2.amazonaws.com/full-tilt/logo/purple+logo+with+sub+header.png", width: "200px") %>