<section id="about" class="text-page section-inverse background-secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Why Go Full Tilt?</h2>
        <p class="lead text-center">Because I'm happy to give you my knowledge for free. Just ask.</p>
        <div class="row">
          <div class="col-sm-6">
            <p>Hello! My name is Jesse Novotny and the truth is that most professional web developers and digital marketers try to make these fields look like a labyrinth you'll never master.</p>
            </p>In reality, it's actually quite simple to make a beautiful website that boosts traffic and lead conversions.</p>
          </div>
          <div class="col-sm-6">
            <p>I'll gladly give you my secret sauce because the fact that it's simple doesn't mean it's not a pain... Don't you have better things to focus on?</p>
            <p>Let's talk about your situation and business goals. I'll give you a detailed roadmap. The decision on how to proceed is completely up to.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>