<section id="about" class="text-page section-inverse background-secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Why Go Full Tilt?</h2>
        <p class="lead text-center">Because I'm happy to share what I know for free. Just ask.</p>
        <div class="row">
          <div class="col-sm-6">
            <p>Hello! My name is Jesse Novotny, and I love to see startups and small businesses thrive.</p>
            
            <!-- <p>Or rather, I love seeing startups and small businesses thrive.</p> -->

            <p>Here's the thing, it's actually quite simple to make a beautiful website that is optimized to increase traffic and lead conversions.</p>
          </div>
          <div class="col-sm-6">
            <p>The fact that it's simple doesn't mean it's easy to DIY... I'm sure you have other fires to put out?</p>

            <!-- <p>Don't you have other fires to put out?</p> -->

            <p>Let's review your online presence together, and I'll give you some actionable steps to see dramatic improvements. All I ask for in return is a LinkedIn recommendation. Those go a long way!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- web/marketing review. Let's take a look at your online presence together and I'll provide you with actionable steps to increase traffic and conversions along with improvements to your user experience  -->