<div id="get-touch">
  <div id="google-map" data-latitude="33.446241" data-longitude="-112.0797961"></div>
  <div id="contact">
    <div class="container">
      <div class="content">
        <div class="row">
            <div class="contact-heading">
              <h2>How can I help?</h2> 
            </div>

          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          
          <form action="" method="post" role="form" class="form contactForm">
            <div class="col-md-4">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Name" data-rule="minlen:4" data-msg="Please enter at least 4 characters" />
                <div class="validation"></div>
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 characters" />
                <div class="validation"></div>
              </div>
            </div>
            
            <div class="col-md-12">
              <div class="form-group">
                <textarea class="form-control" name="message" rows="4" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
             </div>
            
            <div class="submit">
              <button class="btn btn-default" type="submit">Send Now</button>
            </div>
          </form>
        </div>
      </div>  
    </div>
  </div>
</div> 

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_KEY']%>&callback=initMap"></script>