<div id="get-touch">
  <div id="google-map" data-latitude="33.446241" data-longitude="-112.0797961"></div>
  <div id="contact">
    <div class="container">
      <div class="content">
        <div class="row">
            <div class="contact-heading">
              <h2>How can I help YOU?</h2> 
            </div>
          
          <form  class="form contactForm" id="contactForm" novalidate data-remote="true" >
            <div class="col-md-4 control-group">
              <div class="form-group controls">
                <input type="text" name="lead[name]" class="form-control" id="name" placeholder="Name" data-validation-required-message="Please enter your name." required/>
                <div class="validation"></div>
              </div>
            </div>
            
            <div class="col-md-4 control-group">
              <div class="form-group controls">
                <input type="email" class="form-control" name="lead[email]" id="email" placeholder="Email" data-validation-email-message="You must enter an email" required/>
                <div class="validation"></div>
              </div>
            </div>
            
            <div class="col-md-4 control-group">
              <div class="form-group controls">
                <input type="text" class="form-control" name="website" id="website" placeholder="Website" data-rule="minlen:4" data-msg="Please enter at least 8 characters" required/>
                <div class="validation"></div>
              </div>
            </div>
            
            <div class="col-md-12 control-group">
              <div class="form-group controls">
                <textarea class="form-control" name="message" rows="4" placeholder="Say something nice :)" minlength="10" required></textarea>
              </div>
                <div class="validation"></div>
            </div>

            <div class="col-md-12">
              <div id="contact_sent"></div>
              <div id="contact_error"></div>
            </div>
            <div class="row">              
              <div class="submit">
                <button class="btn btn-default" type="submit" id="contactSubmit">Send Now</button>
              </div>
            </div>
          </form>
        </div>
      </div>  
    </div>
  </div>
</div> 

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_KEY']%>&callback=initMap"></script>