<section class="signup-section text-center no-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 style="margin-bottom:5px;">See if I'm what you're looking for</h3>
        <p><em>... and maybe learn something new too!</em></p>
        <p class="lead text-gray-light">Get my FREE <strong>Playbook to Mastering your Digital Presence.</strong></p>

        <!-- <div class="col-sm-8 col-sm-offset-2" id="inline_optin_message">
          <div id="inline_optin_sent"></div>
          <div id="inline_optin_error"></div>
        </div>         -->

        <!-- <form class="form-inline sign-up-form" id="inline_optin">
          <input id="email" type="email" name="lead[email]" placeholder="name@email.com" class="form-control" autocomplete="email" required>
          <input id="submit" type="submit" value="Sure, why not?" class="btn btn-primary">
        </form> -->
        <a href="#" target="_blank" data-toggle="modal" data-target="#get-started" class="btn btn-primary service-button" id="inline-optin"><span>Send My Copy Now!</span></a>
      </div>
      <!-- <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <p class="margin-bottom--zero">
          <%= image_tag("signup.png", class: "img-responsive") %>
        </p>
      </div> -->
    </div>
  </div>
</section>