<section class="signup-section text-center no-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 style="margin-bottom: 5px">See if I'm what you're looking for</h3>
        <p><em>... and maybe learn something new too!</em></p>
        <p class="lead text-gray-light">Get a FREE copy of my <strong>Mastering your Digital Presence Playbook.</strong></p>

        <div class="col-sm-8 col-sm-offset-2" id="inline_optin_message">
          <div id="inline_optin_sent"></div>
          <div id="inline_optin_error"></div>
        </div>

        <form class="form-inline margin-bottom--big sign-up-form" id="inline-offer">
          <input id="email" type="email" name="lead[email]" placeholder="name@email.com" class="form-control" autocomplete="email">
          <input id="submit" type="submit" value="Sure, why not?" class="btn btn-primary">
        </form>
      </div>
      <!-- <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <p class="margin-bottom--zero">
          <%= image_tag("signup.png", class: "img-responsive") %>
        </p>
      </div> -->
    </div>
  </div>
</section>