<section id="intro" class="text-intro no-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><span class="rotate">Generate more qualified leads, Beautify your web presence, Build your dream app</span> </h1>
        <h3 class="weight-300">Stop trying to do it yourself.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>Not sure if Full Tilt is right for you?</p>
        <p>Browse our testimonials or get a FREE copy of my <strong>Digital Presence Playbook</strong></p>
        <form class="form-inline margin-top sign-up-form">
          <input id="email_intro" type="email" placeholder="name@email.com" class="form-control">
          <input id="submit_intro" type="submit" value="Get Your FREE Playbook Now" class="btn btn-primary">
        </form>
      </div>
      <div class="col-md-12 col-lg-8 col-lg-offset-2">
        <p class="margin-bottom--zero">
          <%= image_tag("intro-slide.png", class: "img-responsive") %>
        </p>
      </div>
    </div>
  </div>
</section>