<section id="intro" class="text-intro no-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>This could be your perfect <span class="rotate">startup intro site, landing page, bootstrap template</span> </h1>
        <h3 class="weight-300">It is SEO friendly, responsive and free.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>500,000 users have already trusted <a href="http://bootstrapious.com">Bootstrapious templates</a>.<br />Try it for yourself.</p>
        <form class="form-inline margin-top sign-up-form">
          <input id="email_intro" type="email" placeholder="name@company.com" class="form-control">
          <input id="submit_intro" type="submit" value="Get started for FREE" class="btn btn-primary">
        </form>
      </div>
      <div class="col-md-12 col-lg-8 col-lg-offset-2">
        <p class="margin-bottom--zero">
          <%= image_tag("features3.png", class: "img-responsive") %>
        </p>
      </div>
    </div>
  </div>
</section>