<section id="intro" class="text-intro no-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Stop trying to figure it out yourself</h1>
        <h3 class="weight-300">I will simply...<br><span class="rotate">rake in the qualified leads., beautify your web presence., build your dream app.</span></h3>
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <p id="intro-text">Browse my testimonials or learn what I know <br> with a FREE copy of my <strong>
        Playbook to Mastering your Digital Presence</strong></p>

        <!-- <div class="col-sm-8 col-sm-offset-2" id="intro_optin_message">
          <div id="intro_optin_sent"></div>
          <div id="intro_optin_error"></div>
        </div> -->

        <!-- <form class="form form-inline margin-top sign-up-form" id="intro_optin" data-remote="true" autocomplete="on">
          <input type="email" 
          id="email" 
          name="lead[email]" 
          placeholder="Email" 
          class="form-control" 
          autocomplete="email" 
          required />
          <input id="submit_intro" 
          type="submit" 
          value="Get Your FREE Playbook Now" 
          class="btn btn-primary">
        </form> -->
        <a href="#" target="_blank" data-toggle="modal" data-target="#get-started" class="btn btn-primary service-button" id="intro-optin"><span>Get Your FREE Playbook Now</span></a>
      </div>

      <div class="col-md-12 col-lg-8 col-lg-offset-2" id="video-container">
        <script src="https://fast.wistia.com/embed/medias/jt3i801dpa.jsonp" async></script>
        <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
        <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
          <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
            <div class="wistia_embed wistia_async_jt3i801dpa videoFoam=true" style="height:100%;width:100%">&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>