<section id="intro" class="text-intro no-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><span class="rotate">Rake in the qualified leads, Beautify your web presence, Build your dream app</span> </h1>
        <h3 class="weight-300">Stop trying to figure it out yourself</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>Hire me to make your life easier and get the job done</p>
        <p>Browse our testimonials or get a FREE copy of my <strong>Digital Presence Playbook</strong></p>

        <div class="col-sm-8 col-sm-offset-2" id="intro_optin_message">
          <div id="intro_optin_sent"></div>
          <div id="intro_optin_error"></div>
        </div>

        <form class="form form-inline margin-top sign-up-form" id="intro-offer" novalidate >
          <input type="text" name="lead[name]" class="form-control" id="name" placeholder="Name" data-validation-required-message="Please enter your name." style="display:none;" />
          <input id="email" type="email" name="lead[email]" placeholder="Email" class="form-control" autocomplete="on" required />
          <input id="submit_intro" type="submit" value="Get Your FREE Playbook Now" class="btn btn-primary">
        </form>

      </div>
      <div class="col-md-12 col-lg-8 col-lg-offset-2">
        <!-- <div style="width:80%; max-width: 600px; height:100%; margin: 10px auto 0;">
          <div style="position:relative; padding-top: 56%;">
            <iframe src="https://www.youtube.com/embed/Ko-ePkV-uMg" style="position:absolute;top:0;left:0;width:100%; height:100%;"></iframe>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>