<section id="services" class="section">
  <div class="container">
    <div class="row text-center-mobile"> 
      <div class="col-md-6">
        <div class="icon"><i class="pe-7s-diamond"></i></div>
        <h2>Full Stack Web Development</h2>
        <p>I'm a rare breed of web developer that actual has a grasp of <em>how</em> websites make money (or don't!). As for technology, I'm most familiar with Ruby on Rails, AngularJS, JavaScript, HTML, CSS, jQuery, deployment with Heroku, and pinch of React + Node. Want to see some pretty code? Checkout the repo for my <a href="https://github.com/jessenovotny/foodease-angular-rails" target="_blank">recipe search engine app</a></p>
      </div>
      <div class="col-md-6">
        <p>
          <%= image_tag("features1.png", class: "img-responsive") %>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section background-gray-lightest">
  <div class="container">
    <div class="row text-center-mobile"> 
      <div class="col-md-6 hidden-xs hidden-sm">
        <p>
          <%= image_tag("features2.png", class: "img-responsive") %>
        </p>
      </div>
      <div class="col-md-6">
        <div class="icon brand-terciary"><i class="pe-7s-rocket"></i></div>
        <h2>Digital Marketing & Sales</h2>
        <p>In a past life, I was 100% focused on sales and psychology. I've since applied this background to digital marketing best practices. I am ready to analyze your business, design, or refine/optimize your sales funnel for maximium ROI. The cool thing is that I'm more than a thinker; I can actually build websites that are designed to increase traffic and convert visitors into paying customers.</p>
      </div>
      <div class="col-md-6 visible-xs visible-sm">
        <p>
          <%= image_tag("features2.png", class: "img-responsive") %>
        </p>
      </div>      
    </div>
  </div>
</section>
<section class="section no-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8 col-lg-offset-2 text-center">
        <div class="icon brand-secondary"><i class="pe-7s-graph1"></i></div>
        <h2>Project Management</h2>
        <p>Juggling is what I do best! Building websites and effective sales funnels is never as simple as it seems, which is why finding someone who will simply get the job done can be the most difficult part. I know how to break down lofty goals into baby steps and utilize the best available tools to optimize task flow and see progress quickly. There's no need to reinvent the wheel!</p>
        <p class="margin-bottom--zero">
          <%= image_tag("features3.png", class: "img-responsive") %>
        </p>
      </div>
    </div>
  </div>
</section>