<li class="item">
  <div class="testimonial same-height-always">
    <div class="text">
      <p><%= testimonial.content %></p>
    </div>
    <div class="bottom">
      <div class="testimonial-icon"> <i class="pe-7s-comment"></i></div>
      <div class="name-picture">
        <%= image_tag(testimonial.image_url) %>
        <h5><%= testimonial.name %></h5>
        <p><%= testimonial.position %></p>
      </div>
    </div>
  </div>
</li>