<section id="testimonials" class="section testimonails background-gray-lightest">
  <div class="container">
    <h2 class="text-center">       
      Don't take my word for it
    </h2>
    <p class="lead text-center">One of the best parts about my job is working with startups and small business owners rather than huge companies. Here's what <%= @testimonials.count %> lovely people had to say about me from actual LinkedIn recommendations:</p>
    <div class="row"> 
      <div class="col-md-12">
        <ul class="owl-carousel testimonials same-height-row">
          <%= render partial: "testimonial", collection: @testimonials %>
        </ul>
      </div>
    </div>
  </div>
</section>