<div id="get-started" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="Login" 
  aria-hidden="true" 
  class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <!-- <div class="modal-header">         -->
        <button type="button" 
        data-dismiss="modal" 
        aria-hidden="true" 
        class="close" 
        id="close-modal">×</button>        
        <!-- <h4 class="modal-title text-center">Mastering your Digital Presence Playbook</h4>       -->
      <!-- </div> -->
      
      <div class="modal-body">
        <div class="row">        
          <div class="col-sm-6">
            <%= image_tag("playbook.png", width: "100%", style: "max-width:385px;") %>
          </div>

          <div class="col-sm-6">
            <!-- <p>This FREE guide will...</p> -->
            <h4 class="modal-title text-center">Here's why...</h4><br>
            <ul>
              <li>Improve traffic and online conversions.</li>
              <li>Find direction on web development and marketing strategies.</li>
              <li>Vet me for your next full time or contract position.</li>
            </ul>
            
          </div>
        </div>
        <br>

        <div id="modal_optin_sent"></div>
        <div id="modal_optin_error"></div>

        <form id="modal_optin" autocomplete="on">
          <div class="form-group control-group">
            <div class="controls">              
              <input id="email" 
              type="email" 
              name="lead[email]" 
              placeholder="name@email.com" 
              class="form-control" 
              autocomplete="email" 
              required />
            </div>
          </div>
          <p class="text-center">
            <button class="btn btn-primary" type="submit"><i class="pe-7s-magic-wand"></i> Get Your FREE Playbook Now</button>
          </p>
        </form>
        <p class="text-center text-muted">* I promise not to sell or distribute your info</p>
      </div>
    </div>
  </div>
</div>